* {
    box-sizing: border-box;
}

p {
    text-align: justify;
}

.contact-link {
    color:#939597;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
    color:#F5DF4D
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Manrope';
    font-size: 17px;
    font-weight: 300;
}

.container {
    max-width: 1440px;
    padding: 0% 15% 0%;
}

.header {
    background-color: #939597;
}

.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 50px;
}

.profile-photo {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.main-title {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}

.main-subtitle {
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;
}

.section-title {
    padding-left: 15px;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #F5DF4D;
}

.code-example {
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #939597;
}

.footer {
    background-color: #939597;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author-link {
    color: black;
}

.rss-logo {
    margin:10px 0 10px;
    height: 50px;
}